@import './base.css';

#app {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  font-weight: normal;
  background-image: linear-gradient(160deg, blueviolet, green, blue, red);
  background-size: cover;
}

h1, h2, p {
  color: #181818;
}

@media (min-width: 700px) {
  #app {
    background-image: url("/background.jpg");
  }
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}